
body{
            text-align: center;
        font-family: 'Poppins', sans-serif;}
h1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #2b3a42;
}
img{
        display:block;
        margin: 0 auto;
        margin-bottom: 15x;
        width: 260px; 
         
 }
p {
            width: 40%;
            margin: 10px auto;
            text-align: center;
            margin-top:20px;
            margin-bottom: 20px;
}

.btn{
        display:inline-block;
        padding: 10px 25px;
        background-color:#e6eff7 ;
        border:1px solid #b5c4d1;
        border-radius:30px;
        text-decoration: solid;
        color: black;
        font-size: 16px;
        transition: 0.3s ease;
        margin-top: 10px;
    cursor: pointer;}
.btn:hover{
        background-color: #d7e6f3;  
       transform: translateY(-3px);  }
.expert-section{
    margin-left: 30px;
}
.expert-section h2{
    font-size: 36px;
    margin-bottom: 5px;
}
.expert-section p{
    font-size: 1px auto;
    color:gray
}
.service-box {
    background-color: #c7c7c7;
    padding: 35px;
    margin: 20px auto;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 12px 
    rgba(0,0,0,0.15);
}
.container{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap:wrap;
margin-top: 30px
;}
